<div class="projeto-main">

    <div class="cabecalho">
        <div class="botoes">
            <button mat-fab class="botao">
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-fab class="botao">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-fab extended class="botao">
                <mat-icon>developer_board</mat-icon>
                Boards
            </button>
        </div>
        <div class="botoes">
            <button mat-fab class="botao">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-fab class="botao">
                <mat-icon>info</mat-icon>
            </button>
            <button mat-mini-fab class="botao-perfil">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </div>
    <main>
        <div class="main-top-bar">
            <h1 class="titulo-projeto">
                Main Board
            </h1>
            <div class="botoes">
                <button mat-fab class="botao">Privado</button>
                <button mat-fab class="botao">Pessoal</button>
                <button mat-fab class="botao">Convite</button>
            </div>
        </div>
        <div class="board" cdkDropListGroup>
 
                <div  
                    *ngFor="let lista of listas; track: lista"
                    class="lista"
                    [id]="lista.id+'' || '0'"
                    cdkDropList
                    [cdkDropListData]="tarefas.get(lista.id? lista.id:0)"
                    (cdkDropListDropped)="trocarListaDaTarefa($event)"
                    >
                    <h1 class="titulo">{{lista.titulo}}</h1>
                        <div *ngFor="let tarefa of tarefas.get(lista.id? lista.id:0); track tarefa" 
                        class="tarefa" 
                        cdkDrag 
                        [cdkDragData]="tarefa">
                            <div class="barra-prioridade">
                            </div>
                            <p class="objetivo">{{tarefa.objetivo}}</p>
                            <button *ngIf="tarefa.prazo != null" mat-fab extended class="btn-prazo">{{tarefa.prazo}}</button>
                        
                    </div>
                    
                </div>
            
            
        </div>
    </main>
</div>